# Copy this file to .env in the project root and fill values for production

# Django
DJANGO_SECRET_KEY=replace-this-with-a-secure-secret
ALLOWED_HOSTS=your.domain.com,192.168.1.32
CSRF_TRUSTED_ORIGINS=https://your.domain.com

# Database (Postgres)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=nfse_prod
DB_USER=nfse_user
DB_PASSWORD=L@ise1301
DB_HOST=db
DB_PORT=5432

# Static and media roots (optional)
STATIC_ROOT=/app/staticfiles
MEDIA_ROOT=/app/media

# Security (recommended)
SECURE_SSL_REDIRECT=1
SESSION_COOKIE_SECURE=1
CSRF_COOKIE_SECURE=1
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=1
SECURE_HSTS_PRELOAD=1
