# Copy this file to .env in the project root and fill values for production

# Django
DJANGO_SECRET_KEY=replace-this-with-a-secure-secret
ALLOWED_HOSTS=your.domain.com,192.168.1.32

# Database (Postgres)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=nfse_prod
DB_USER=nfse_user
DB_PASSWORD=L@ise1301
DB_HOST=db
DB_PORT=5432

# Static and media roots (optional)
STATIC_ROOT=/var/www/nfse/static
MEDIA_ROOT=/var/www/nfse/media
